<p id="notice"><%= notice %></p>

<p>
  <strong>Mobile:</strong>
  <%= @milestone.mobile %>
</p>

<p>
  <strong>Web client:</strong>
  <%= @milestone.web_client %>
</p>

<p>
  <strong>Foundations:</strong>
  <%= @milestone.foundations %>
</p>

<p>
  <strong>Servers:</strong>
  <%= @milestone.servers %>
</p>

<p>
  <strong>Project management:</strong>
  <%= @milestone.project_management %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @milestone.communication %>
</p>

<p>
  <strong>Craft:</strong>
  <%= @milestone.craft %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @milestone.initiative %>
</p>

<p>
  <strong>Career development:</strong>
  <%= @milestone.career_development %>
</p>

<p>
  <strong>Org design:</strong>
  <%= @milestone.org_design %>
</p>

<p>
  <strong>Wellbeing:</strong>
  <%= @milestone.wellbeing %>
</p>

<p>
  <strong>Accomplishment:</strong>
  <%= @milestone.accomplishment %>
</p>

<p>
  <strong>Mentorship:</strong>
  <%= @milestone.mentorship %>
</p>

<p>
  <strong>Evangelism:</strong>
  <%= @milestone.evangelism %>
</p>

<p>
  <strong>Recruiting:</strong>
  <%= @milestone.recruiting %>
</p>

<p>
  <strong>Community:</strong>
  <%= @milestone.community %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @milestone.employee %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
