<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>CGM:</strong>
  <ul>
  <% @employee.milestones.each do |milestone| %>
    <% url = milestone.to_url %>
    <li>
      <a href="<%= url %>"><%= milestone.created_at.to_s(:rfc822) %></a>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
